$main-font: 'Helvetica Neue', Helvetica, Arial, sans-serif
    
$main-background: #0E0E10
$main-nav: #18181B
$main-sidebar: #1F1F23
$main-text: #FFF
$main-sidebar-text: #d3d3d3

$main-link-hover: #772CE8
$main-buttons: #8433FB
$main-login-button: #373737
$main-login-button-hover: #272727
$main-signup-button-hover: #5a1bb9

$main-logo-px: 60px

@mixin reset-list
  margin: 0
  padding: 0
  list-style: none

body
    @include reset-list
    background-color: $main-background
    font-family: $main-font


.nav 
    background-color: $main-nav
    height: 65px

    .logo 
        width: $main-logo-px
        height: $main-logo-px
        margin-bottom: 1px
        margin-left: 1px !important
        border-radius: 50%   !important

    .link
        color: $main-text

    &:hover
        color: $main-link-hover

    .active
        color: $main-link-hover
        text-decoration: underline
        margin-left: -10px

.sidebar
    background-color: $main-sidebar
    height: 425vh !important
    width: 100%
    display: inline-block

    p
        color: $main-text
        text-align: center
        font-size: 14px

.container
    position: absolute
    display: inline-block
    width: 100%
    color: $main-text
    margin-left: 2% !important

    h1
        font-size: 24px
        text-decoration: underline
        margin-top: 15px

    li 
        list-style: none

    table
        width: 98% !important

        th
            border: 1px solid #fff
            text-align: center
            padding: 5px
            padding-left: 70px !important
            padding-right: 70px !important

        td
            border: 1px solid #fff
            text-align: center
            padding-top: 2rem

            p
                font-size: 22px

            a
                transition: transform 250ms
                height: 4rem
                margin-bottom: -1rem

            a:hover
                transition: transform 125ms
                transform: scale(1.5)