$main-font: 'Helvetica Neue', Helvetica, Arial, sans-serif
    
$main-background: #0E0E10
$main-nav: #18181B
$main-sidebar: #1F1F23
$main-text: #FFF
$main-sidebar-text: #d3d3d3

$main-link-hover: #772CE8
$main-buttons: #8433FB
$main-login-button: #373737
$main-login-button-hover: #272727
$main-signup-button-hover: #5a1bb9

$main-logo-px: 60px

@mixin reset-list
  margin: 0
  padding: 0
  list-style: none

body
    @include reset-list
    background-color: $main-background
    font-family: $main-font


.nav 
    background-color: $main-nav

    .logo 
        width: $main-logo-px
        height: $main-logo-px
        margin: -20px

    .link
        color: $main-text

    &:hover
        color: $main-link-hover

    .active
        color: $main-link-hover
        text-decoration: underline


    .button-login
        background-color: $main-login-button
        margin-right: 20px
        margin-top: 10px
        margin-bottom: 5px
        border-radius: 5px
        font-size: 12px
        color: $main-text

        &:hover
            background-color: $main-login-button-hover

    .button-signup
        background-color: $main-buttons
        margin-right: 20px
        margin-top: 10px
        border-radius: 5px
        font-size: 12px
        color: $main-text

        &:hover
            background-color: $main-signup-button-hover

.sidebar
    background-color: $main-sidebar
    height: 100vh
    width: 100%
    display: inline-block

    p
        color: $main-text
        text-align: center
        font-size: 14px

.container
    position: absolute
    display: inline-block
    margin-left: 225px
    width: 100%
    color: $main-text


    li 
        list-style: none


        .button-browse
            background-color: $main-buttons
            color: $main-text
            width: 295px
            height: 90%
            margin-left: -22px
            margin-top: 5px
            margin-right: 27px
            border-radius: 5px
            font-size: 20px

            &:hover
                background-color: $main-signup-button-hover

        .button-videos
            color: $main-link-hover
            text-decoration: underline !important
            margin-left: -50px
            margin-right: 10px
            margin-top: 15px


        .button-livechannels
            color: $main-text
            margin-top: 15px

            &:hover
                color: $main-link-hover
    
    .vid
        background-color: #323234
        width: 248px
        height: 290px
        margin-top: 50px
        margin-right: 5px

    .container-vid
        margin-bottom: 50px
        margin-left: -20px